# ?? ????? ??? ?
spring:
  profiles:
    active: local
---

spring:
thymeleaf:
prefix: classpath:/templates/
suffix: .html


---
logging.level:
  org.hibernate.SQL: debug

---
spring:
  profiles:
    group:
      "local": "localdb, common"
      "prod": "proddb"

--- # common
spring:
  config:
    activate:
      on-profile: "common"

--- # localdb
spring:
  config:
    activate:
      on-profile: "localdb"
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:mysql://localhost:3306/dapalzadb?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&serverTimezone=Asia/Seoul
    username: jun
    password: 1234
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

--- # proddb
spring:
  config:
    activate:
      on-profile: "proddb"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://dapalza-mysql-container:3306/dapalzadb?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&serverTimezone=Asia/Seoul
    username: jun
    password: 1234
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true


